/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');*/
*{
    margin:o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.carousel-item img{
    width: 100%;
    height: 93vh;
}
.about_img{
    min-width: 100%;
    max-height: 280px;
}
.cardimg1{
    width: 100%;
    height: 100%;
}
.offer_style{
    background: #a6dcef;
}

footer p{
    margin-bottom: 0;
}
nav ul li a{
    transition: 2s;
}


nav ul li a:hover{
    font-size: 17px;
}

/*Here the Style for Footer Start*/


body{
    position: relative;
}

   




/*Footer style End */


/*responsive css code*/
 /*//X-Small devices (portrait phones, less than 576px)
 //No media query for `xs` since this is the default in Bootstrap*/

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }
